@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --title-color:#214E41;
  --btn-bg: #43806C;
  --color-fff: #fff;
}

.body {
  width: 100%;
  height: auto;
}
.body menu {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body menu .menu__container {
  max-width: 1333px;
  width: 95%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body menu .menu__container .menu__logo {
  width: 30%;
  height: auto;
}
.body menu .menu__container .menu__logo .menu__content-logo {
  color: var(--title-color);
  font-weight: 500;
  font-size: 35px;
}
.body menu .menu__container .menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.body menu .menu__container .menu__links li {
  list-style: none;
}
.body menu .menu__container .menu__links li .menu__link {
  text-decoration: none;
  color: var(--title-color);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
.body menu .menu__container .menu__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body menu .menu__container .menu__sign .menu__sign-btn {
  cursor: pointer;
  border: none;
  color: var(--color-fff);
  background-color: var(--btn-bg);
  padding: 10px 25px;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
.body menu .menu__container .menu__sign .menu__sign-btn:hover {
  transform: scale(1.02);
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
.body menu .menu__container .menu__sign .menu__login {
  padding: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.body menu .menu__container .menu__sign .menu__login h4 {
  line-height: 20px;
  font-size: 17px;
  color: var(--title-color);
  padding: 0 5px 0 10px;
  font-weight: 600;
}
.body menu .menu__container .menu__sign .menu__login i {
  color: var(--title-color);
  font-size: 22px;
}
.body menu .menu__container .menu__sign .menu__language {
  cursor: pointer;
  color: var(--title-color);
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body header {
  width: 100%;
  height: 720px;
  background-image: url("./img/header__bg.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body header .header__container {
  width: 95%;
  height: auto;
  max-width: 1333px;
}
.body header .header__container .header__info {
  padding: 160px 0 0 0;
  color: var(--title-color);
  width: 500px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}
.body header .header__container .header__subtitle {
  color: var(--title-color);
  font-style: normal;
  padding: 50px 0 30px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.body header .header__container .header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body header .header__container .header__form input {
  font-size: 16px;
  color: var(--title-color);
  padding: 0 10px;
  height: 60px;
  width: 280px;
  border: none;
  border-radius: 6px 0px 0px 6px;
  background-color: var(--color-fff);
}
.body header .header__container .header__form .header__btn {
  border: 2px solid var(--title-color);
  background-color: var(--title-color);
  width: 123px;
  height: 60px;
  color: var(--color-fff);
  border-radius: 0px 6px 6px 0px;
}
.body header .header__container .header__form .header__btn:hover {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  background-color: transparent;
  color: var(--title-color);
  cursor: pointer;
}
.body .extra-navbar {
  width: 100%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}
.body .extra-navbar .extra-navbar__container {
  margin-top: -85px;
  width: 90%;
  height: 171px;
  max-width: 1333px;
  -webkit-box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
          box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 6px;
  background-color: var(--color-fff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body .extra-navbar .extra-navbar__container .extra-navbar__card {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body .extra-navbar .extra-navbar__container .extra-navbar__card .extra-navbar__img {
  width: 46px;
  height: 45px;
  margin-right: 10px;
}
.body .extra-navbar .extra-navbar__container .extra-navbar__card .extra-navbar__info {
  width: 300px;
  height: 70px;
  overflow: hidden;
}
.body .extra-navbar .extra-navbar__container .extra-navbar__card .extra-navbar__info .extra-navbar__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding: 0 0 5px;
  line-height: 24px;
  color: var(--title-color);
}
.body .extra-navbar .extra-navbar__container .extra-navbar__card .extra-navbar__info .extra-navbar__text {
  width: 100%;
  height: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--title-color);
}